<div class="project">
    <div class="project-name">{{project.name}}</div>
    <div class="project-description">{{project.description}}</div>
    <div class="project-funding">{{project.needed_funding}}</div>
</div>